body{
	font-family: "inter";
	margin:0;
	font-size:16px;
}

.header{
	display: flex;
	flex-direction: column;
	padding-bottom:0px;
	padding-left:26.5%;
}

.registration-container{
	display: flex;
	background: lightgrey;
	flex-direction: column;
	font-size: 24px;
	justify-content: space-between;
	border:2px solid black;
	border-radius:6px;
	width:800px;
	height:600px;
	margin-left:24%;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	
}


input {
	padding-left:10px;
}

#name{
	font-size:24px;
	width:80%;
	height:40px;
}

#email{
	font-size:24px;
	width:80%;
	height:40px;
}


#text-number{
	font-size:24px;
	width:80%;
	height:40px;
}

#message{
	font-size:16px;
	width:80%;
	height:80px;
	padding-top:0px;
}

.new-webpage-button{
	font-family: "inter";
	color:white;
	width:110px;
	height:35px;
	background-color:black;
	border:2px solid black;
	border-radius:6px;
	cursor: pointer;
}

.new-webpage-button:hover{
	background-color:grey;
	
}